
body {
  background-image: url("/images/house-tree.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-origin: content-box;
  background-size: 56vh;
}

.stats-card {
  margin-top: 20vh;
  background-color: rgba(255,255,255,0.8)
}
