
body {
  background-image: url("/images/house-tree.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-origin: content-box;
  background-size: 56vh;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
